In [19]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim

In [20]:
#import data
df = pd.read_csv('cleaned_meteorite_data.csv', low_memory=True)
df.head()

,name,id,name_type,rec_class,mass,fall,year,rec_lat,rec_long,location_type
0,Allegan,2276,Valid,H5,32000.0,Fell,1899.0,42.53333,-85.88333,Exact
1,Allende,2278,Valid,CV3,2000000.0,Fell,1969.0,26.96667,-105.31667,Exact
2,Andover,2295,Valid,L6,3200.0,Fell,1898.0,44.61667,-70.75000,Exact
3,Archie,2329,Valid,H6,5070.0,Fell,1932.0,38.50000,-94.30000,Exact
4,Ash Creek,48954,Valid,L6,9500.0,Fell,2009.0,31.80500,-97.01000,Exact

In [21]:
def get_state_from_coordinates(row):
    geolocator = Nominatim(user_agent="state_identifier")
    location = geolocator.reverse((row['rec_lat'], row['rec_long']), language="en")
    
    if location and 'address' in location.raw and 'state' in location.raw['address']:
        state = location.raw['address']['state']
        return state
    else:
        return "State not found"

In [22]:
df['state'] = df.apply(get_state_from_coordinates, axis=1)

In [23]:
grouped_df = df.groupby('state').agg({'name': 'count'}).reset_index()

In [26]:
states_to_drop = ['Chihuahua', 'Ontario', 'Durango', 'Coahuila', 'Quebec', 
                  'Sonora', 'Nuevo Le√≥n', 'Tamaulipas', 'Alberta', 'Zacatecas',
                  'New Brunswick', 'Baja California', 'Baja California Sur']
filtered_df = df[~df['state'].isin(states_to_drop)]

In [27]:
grouped_df = filtered_df.groupby('state').agg({'name': 'count'}).reset_index()

In [28]:
filtered_df.to_csv('cleaned_meteorite_data.csv', index=False)

In [29]:
grouped_df.to_csv('grouped_cleaned_meteorite_data.csv', index=False)